.App {

}
.HeroImage{
  background: url(heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.HeroText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: transparent;
  color: white;
  padding: 20px;
  font-size: x-large;
}.Part{
  margin-left: 100px;
  width: calc(100vw - 220px);
}
.photo2{
  background: url(photo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  border: 5px solid grey;
}
.BoldText{
  font-weight: bold;
}

hr{
  margin: 30px 0px 30px 100px;
  width: calc(100vw - 212px);
  color:grey;
  background-color:grey;
  height: 2px;
}
.GalleryRow{
  width: 100%;
  display: flex;
}
.Gallery{
  width: 100%;
  margin-bottom: 50px;
}
.galleryphoto1{
  background: url(galleryphoto1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.galleryphoto2{
  background: url(galleryphoto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.galleryphoto3{
  background: url(galleryphoto3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.galleryphoto4{
  background: url(galleryphoto4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.galleryphoto5{
  background: url(galleryphoto5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1000 ;
}
.galleryphoto6{
  background: url(galleryphoto6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.ImageContainer{
  width: calc(100%/3);
  height: 300px;
  overflow: hidden;
}

.ImageContainer:hover .overlay {
  transform: translateY(-100%);
  opacity: 1;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10000;
  position: relative;
  opacity: 0;
  transform: translateY(-80%);
  transition: all 0.5s ease;
}
.overlaytext {
  color: white;
}
input[type=text]{
  margin: 10px 20px 10px 0px;
  border: 1px solid grey;
  height: 30px;
  width: calc((100% - 76px)/3);
  padding: 0 0 0 10px;
}

input[type=text]:nth-child(3){
  margin-left: 0px;
  margin-right: 0px;
}
input[type=button]{
  text-align: center;
  background-color: grey;
  color: white;
  border: none;
  height: 30px;
  cursor: pointer;
}
.bigbutton{
  height: 100px !important;
  width: 100% !important;
  padding: 0 0 0 10px;
}
